html {
    background-color: bisque;
}

html,
body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#stats {
    width: 30%;
    background-color: rgb(111, 187, 111);
    border: 6px solid rgb(63, 175, 63);
    border-radius: 30px;
    padding: 30px;
    box-shadow: 0px 0px 100px rgb(80, 134, 80);

    table {
        width: 100%;
        margin-bottom: 30px;

        td:nth-of-type(even) {
            text-align: right;
        }

        td:nth-of-type(odd) {
            text-align: left;
        }

        .bold {
            font-weight: bold;
        }
    }

    #upload {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    label {
        background-color: #BB6FBB;
        color: black;
        padding: 0.5rem;
        border-radius: 10px;
        border: 3px solid #A84FA8;
        cursor: pointer;
        margin-top: 1rem;
    }
}